@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  background-color: lightgray;
}

.nav-item:first-child {
  padding-left: 330px;
}

a {
  text-decoration: none;
}

.bg-image {
  background-image: url(./images/Header_bg_desktop.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 780px;
}

.bg-image > h1 {
  margin-top: 15%;
  margin-left: 15%;
  width: 25vw;
}

.bg-image > p {
  font-size: 15px;
  margin-left: 15%;
  font-size: 20px;
  line-height: 28px;
  width: 70%;
  padding: 3px 0;
  color: #344563;
}

.social-media {
  margin-left: 15%;
}

.social-media h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.social-media ul li {
  width: 15px;
  height: 15px;
}

.proj_icons > li {
    margin-left: 2%;
}

.list-group > li:first-child {
    margin-left: unset;
}

.list-group > li {
    list-style-type: none;
}

.card {
  margin-bottom: 4%;
}

.work {
  height: 350px;
}

.dot {
    height: 8px;
    width: 8px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}


